@model onTrax.ViewModels.RunProductionViewModel

@{ ViewBag.Title = "Process"; }
    <!-- Tracker Form-->
        @Html.HiddenFor(x => x.Employee.EmployeeID)
        <div class="container p-0" id="woomForm">
            <div class="row  no-gutters m-2" id="title">
                
                <div class="col-1">
                    @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-circle-arrow-left text-danger back-button", style = "float:left; margin-top:5px; font-size: 72px;" })
                </div>

                <div class="col-11">
                    <ul class="nav nav-pills mb-3" id="options-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="options-process-tab" data-toggle="pill" href="#options-process" role="tab" aria-controls="options-process" aria-selected="true">Process</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="options-product-tab" data-toggle="pill" href="#options-product" role="tab" aria-controls="options-product" aria-selected="false">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="options-batch-tab" data-toggle="pill" href="#options-batch" role="tab" aria-controls="options-batch" aria-selected="false">Batch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="options-quantity-tab" data-toggle="pill" href="#options-quantity" role="tab" aria-controls="options-quantity" aria-selected="false">Quantity</a>
                        </li>
                        <li class="float-right"><button type="button" class="btn btn-secondary btn-md disabled" id="collapse" style="display:none;">Collapse</button></li>
                    </ul>

                    <div class="tab-content" id="options-tabContent">
                        <div class="tab-pane fade show active" id="options-process" role="tabpanel" aria-labelledby="options-process-tab">
                            <!-- Process Input Choices (Radio) -->
                            @if (Model.Processes != null && Model.Processes.Count() > 0)
                            {
                                foreach (var process in Model.Processes)
                                {
                                    <label class="font-weight-bold btn btn-primary">
                                        @process.ProcessName
                                        <input type="radio" name="process" value="@process.ProcessID" autocomplete="off" class="selector process" style="display: none;">
                                    </label>
                                }
                            }
                            else
                            {

                                    <span class="alert alert-danger">No Processes found. Please add or activate processes in Edit onTrax to proceed.</span>

                            }

                        </div>
                        <div class="tab-pane fade" id="options-product" role="tabpanel" aria-labelledby="options-product-tab">
                            <!-- Product Input Choices (Radio) -->
                            @if (Model.Products != null && Model.Products.Count() > 0)
                            {
                                foreach (var product in Model.Products)
                                {
                                    <label class="btn btn-primary">
                                        <input type="radio" name="product" autocomplete="off" value="@product.ProductID" class="selector">@product.ProductName
                                    </label>
                                }
                            }
                            else
                            {

                                <span class="alert alert-danger">No Products found. Please add or activate processes in Edit onTrax to proceed.</span>

                            }

                        </div>
                        <div class="tab-pane fade" id="options-batch" role="tabpanel" aria-labelledby="options-batch-tab">
                            @if (Model.Batches != null && Model.Batches.Count() > 0)
                            {
                                foreach (var batch in Model.Batches)
                                    {
                                        <label class="btn btn-primary">
                                            <input type="radio" name="batch" autocomplete="off" value="@batch.BatchID" class="selector">@batch.BatchName
                                        </label>
                                    }
                            }
                            else
                            {

                                <span class="alert alert-danger">No Batches found. Please add or activate batches in Edit onTrax to proceed.</span>

                            }
                        </div>

                        <div class="tab-pane fade text-center" id="options-quantity" role="tabpanel" aria-labelledby="options-quantity-tab">
                            <span class="size3"><input type="tel" placeholder="Enter a number" required id="Quantity"  min="0" max="10"/></span>
                            <script>
                                /*$("input[type='tel']").InputSpinner();*/
                                var spinner = $("#Quantity").spinner({ alignment: 'horizontal' });
                            </script>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row no-gutters m-2" id="start-stop">
                <div class="col text-center">
                    <button type="button" class="btn btn-default btn-circle btn-lg bg-success text-white" id="start">
                        <h1 id="start-text">Start</h1>
                        <h1 id="pause-text" style="display:none;">Pause</h1>
                    </button>
                </div>
                <!--<span class="font-weight-bold m-auto text-center">@Model.Employee.EmployeeName</span>-->
                <div class="alert alert-info col-2 m-auto text-center container" role="alert">
                    <div class="row">
                        <div class="col"><b>@Model.Employee.EmployeeName: </b> <span id="job-count">0</span></div></div>
                    
                    <div class="row">
                        <div class="col">
                            <span id="start-msg" style="display: none">In Progess...</span>
                            <span id="pause-msg" style="display: none">Paused</span>
                            <span id="cancel-msg" style="display: none">Task Cancelled</span>
                            <span id="complete-msg" style="display: none">Completed!!</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span id="issue-confirm" style="display:none"><br />Issue(s) Recorded</span>
                        </div>
                    </div>

                </div>
                <div class="col  text-center">
                    <!--<div><input type="submit" value="Stop" class="btn btn-default btn-circle btn-lg bg-danger text-white" id="stop" disabled /></div>-->
                    <button class="btn btn-default btn-circle btn-lg bg-danger text-white" id="stop" disabled>
                        <h1>Complete</h1>
                    </button>
                </div>
            </div>
            <div class="row no-gutters m-2">
                <div class="col-2 text-center">
                </div>
                <div class="col-4"></div>
                <div class="col-4  text-center">
                </div>
            </div>
            <div id="commands" class="row no-gutters m-2 btn-row">
                <div class="col-3 text-center">
                    <button type="button" class="btn btn-default btn-lg" style="display:none;" id="cancel">Cancel Production</button>
                </div>
                <div class="col-2 text-center">
                    <button type="button" class="btn btn-warning btn-lg float-left" style="display:none;" id="flag"><span class="glyphicon glyphicon-alert"></span><span class="pl-2">Flag for Issue</span></button>
                </div>
                @*<div class="col-2 text-center">
                    <button type="button" class="alert alert-info text-center" role="alert" id="msg-start"><b>In Progess...</b></b></button>
                </div>*@
            </div>
            <div class="" id="issue-form" style="display:none;">
                <div class="col-12 m-auto text-center p-2">
                    <fieldset id="issues">
                        @if (Model.Issues != null && Model.Issues.Where(x => x != null).Count() > 0)
                        {
                            foreach (var issue in Model.Issues.Where(x => x != null).ToList())
                            {
                                <span id="issue_container_@issue.IssueID" class="issue_container">
                                <label class="font-weight-bold" for="issue_@issue.IssueID">@issue.IssueName</label>
                                <input type="checkbox" name="issue[@issue.IssueID]" id="issue_@issue.IssueID" value="@issue.IssueID" class="selector">
                                </span>
                            }
                        }
                        else
                        {
                            <span class="alert alert-danger">No Issues found. Please add or activate issues in Edit onTrax to proceed.</span>
                        }
                        @*
                        @foreach (var e in Model.ProcessIssueDict) {
                            if (Model.ProcessIssueDict[e.Key] != null) {
                                <div id="@e.Key" style="display:none;">
                                    @foreach (var issue in e.Value) {
                                        <label class="font-weight-bold" for="process[(@e.Key)]_issue[@issue.IssueID]">@issue.IssueName</label>
                                        <input type="checkbox" name="process[(@e.Key)]_issue[@issue.IssueID]" id="process(@e.Key)_issue(@issue.IssueID)" value="@issue.IssueID" class="selector">
                                    }
                                </div>
                            } else {
                                <span class="alert alert-danger" id="nullIssues_@e.Key">No Issues found. Please add or activate issues in Edit onTrax to proceed.</span>
                            }
                        }*@

                    </fieldset>
                </div>
                <div class="col-12 m-auto text-center p-2">
                    <button type="button" class="col-2 m-auto btn btn-info btn-md " id="issue-submit">Save Issue(s)</button>
                    <button type="button" class="col-2 m-auto btn btn-danger btn-md " id="issue-cancel">Cancel Issue(s)</button>
                </div>
            </div>
            <div id="messages" class="row no-gutters m-2 btn-row">
                <div class="col-6 m-auto text-center">
                    
                    @*<div class="alert alert-primary" role="alert" style="display:none;" id="pause-msg">Paused</div>
                    <div class="alert alert-warning" role="alert" id="cancel-msg" style="display:none;">Task Cancelled</div>*@
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $('.process').click(function () {
            $('.issue_container').hide();
            @foreach (var e in Model.ProcessIssueDict) {

                if (Model.ProcessIssueDict[e.Key] != null)
                {
                    <text>
                    //Process @e.Key
                    if($(this).val() == @e.Key)
                    {
                    </text>
                        foreach (var issue in e.Value)
                        {
                            <text>$("#issue_container_@issue.IssueID").show();</text>
                        }
                    <text>
                    }
                    </text>
                }

            }
        });
        </script>