@using onTrax.Models;
@model onTrax.ViewModels.ManageViewModel

@{

    ViewBag.Title = "Standard Times";
}

<h4 style="color:red" class="text-center">Edit Standards</h4>

@* Iterate through each ACTIVE Process found in ProductProcess *@

@foreach (Process p in Model.Processes.ToList())
{
    <div id="@p.ProcessName-accordion">
        <div class="card">
            <div class="card-header" id="@p.ProcessName-heading">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#@p.ProcessName-content" aria-expanded="true" aria-controls="@p.ProcessName-content">
                        @p.ProcessName
                    </button>
                </h5>
            </div>

            <div id="@p.ProcessName-content" class="panel-collapse collapse" aria-labelledby="@p.ProcessName-heading" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group">
                        @* Iterate through each Product associated with current Process *@
                        @{
                            foreach (Product pr in Model.Products.ToList())
                            {
                                if (pr != null)
                                {
                                    var pp = Model.ProductProcesses.Where(x => x.Product == pr).Where(x => x.Process == p).FirstOrDefault();
                                    var qty = pp.Quantity;
                                    var dur = pp.StandardDuration;
                                    var id = pp.ProductProcessID;

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        @pr.ProductName

                                        <input type="text" id="@id" value="@dur" name="standard" class="input" />

                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div> <button class="btn btn-success m-2" id="save-std-duration">Save</button> </div>

    <script>
        // Update standard duration when the save button is clicked
        $("#save-std-duration").click(function () {
            $('#save-std-duration').attr('disabled', true);
            var standardsDict = new Object();
            var index = 0;
            $('.input').each(function () {
                standardsDict["[" + index + "].Key"] = $(this).attr('id');
                standardsDict["[" + index + "].Value"] = $(this).val();
                index++;
            });

            $.ajax({
                type: "POST",
                url: "/Standards/Edit",
                datatype: "json",
                data: standardsDict,
                success: successFunc,
                error: errorFunc
            });
        });
        function successFunc() {
            location.reload();
        }
        function errorFunc() {
            location.reload();
        }
    </script>



